
.claim-preamble {
    background: none repeat scroll 0 0 rgba(240, 200, 0, 0.5);
}
.custom-claim {
    background: none repeat scroll 0 0 rgba(50, 50, 255, 0.5);
}
.claim-elements {
    background: none repeat scroll 0 0 rgba(255, 10, 10, 0.5);
}
.element-attributes {
    background: none repeat scroll 0 0 rgba(150, 255, 100, 0.5);
}
.preamble-attributes{
	background: none repeat scroll 0 0 rgba(150, 0, 255, 0.5);
}
.feed-back {
    background: none repeat scroll 0 0 rgba(0, 255, 255, 0.5);
}

.claim-dictionary {
    background: none repeat scroll 0 0 rgb(271, 158, 101);
}

.claim-embodiment {
    background: none repeat scroll 0 0 rgb(189, 167, 58);
}
#search-details{
	font-size: 15px;
}
.search-highlight{ 
	background-color: #f20fff;
    color: #fff;
}
.my_highlight {		
	background-color:#E26E27;
	
}
.created{
	background-color:#36B0A0;
	
}
.inline{
	margin-top: 3%;
    width: 100%;
    text-align: center;
}

.highlight{
	background-color:#FFCB05;
	
	
}
.diff{
	background-color:#F66F6F;
	
}

#search-details p{
	 margin: 3px 0 0;
}
.inner-content{
	margin-bottom: 2%;
}
.patent-title{
	/* text-decoration: underline; */
}
.hide-list{
	display: none !important;
}
.element-view{
	color: #000000;
	display: inline-block;
	margin-right: 2%;
}
.element-suggestion{
	
}
.fixed-top-suggetion{
	background: none repeat scroll 0 0 #ddd;
    height: 49px;
    padding: 10px;
    position: fixed;
    top: 52px;
}
.patent-number {
    color: #3ea8d2 !important;
}
/************************************************ More Link ***********************************************/
a {
    color: #0254EB
}
a:visited {
    color: #0254EB
}
.morecontent{
    margin-left: 1%;
}
a.morelink {
    text-decoration:none;
    outline: none;
}
/* #search-details{
	padding: 0;
	border: none;
	height: 350px;
	overflow: hidden;
} */
/* .fix-suggestion{
	color: #000000;
    display: block;
    font: bold 13px/1.4em "open sans",sans-serif;
    padding: 7px;
    text-align: center;
    width: 160px;
} */

.autocomplete-menu{
	font-size:14px !important;
	z-index: 1020 !important;
}
.ui-menu-item{
	border-bottom: 1px solid #ccc !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background: #3EA8D2 !important;
	color: #fff !important;
	font-weight: normal !important;
	font-size: 14px !important;
	border: 1px solid #2f99c3 !important;
}


/********************************************** Highlight CSS *************************/

.highlight-adder{
	background-position: left top;
    height: 48px;
    position: absolute;
    z-index: 1020;
    background-image: url("../images/highlightsearch.png");
    background-repeat: no-repeat;
    width: 48px;
    margin-left: -70px;
  	margin-top: -48px;
}
.highlight-adder button {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 41px;
    margin: 0 auto 0 2px;
    text-indent: -999em;
    width: 48px;
}
.highlight-adder:hover, .highlight-adder:active, .highlight-adder:focus{
	 background-image: url("../images/highlightsearch.png");
	 background-position: -48px;
	 width: 98px;
}
.inline .btn {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ccc;
    color: #2e98c2;
    width: 30%;
}
.inline .btn:hover, .inline .btn:focus, .inline .btn:active{
	outline: none !important;
	background: none repeat scroll 0 0 #eee;
    border: 1px solid #ccc;
    color: #2e98c2;
    width: 30%;
}
.width-0{
	width: 0 !important;
}
.suggetion-block{
	display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}
.inline-block{
	display: inline-block;
	font-size: 13px;
}
.delete-loader{
	display:none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);    
	height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.element-suggestion.affix {
	position: fixed;
	top: 52px;
	z-index: 1020;
	padding: 10px;
    width:100%;
    left: 0;
    text-align: center;
    border:1px solid #bbb;
    border-top:none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    -webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
  	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
    
    background: linear-gradient(#fff, #e4e4e4);
    background: -moz-linear-gradient(#fff, #e4e4e4);
	background: -webkit-linear-gradient(#fff, #e4e4e4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #e4e4e4); /* For Opera 11.1 to 12.0 */
	
	
}
.input-group-highlighter{
	margin: 0 auto;
	width: 85%;
}
@media (max-width:750px){
	.element-suggestion {
	    margin-bottom: 13px;
	}
}
@media (max-width:1000px){
	.input-group-highlighter{
		margin: 0 ;
		width: 100%;
	}
}