body{
	/*background:url("../images/bg.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);*/
	color: #000;
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}
.content{
	margin: 0 auto;
}
.block{
	margin-top: 5px;
}
.search-input{
	/*  background-color: #DAEDFF;
    border: 1px solid #96D1F1;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #AAAAAA;
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    height: 55px;
    padding: 1%; 
    width: 360px; */
    background: url("../images/searchbox.png")no-repeat;
}
.inner-block{
	padding: 1%;
	border: 1px solid #aaa;
}
.border-box{
	border: 2px solid #aaa;
	box-shadow: 2px 2px 2px #AAAAAA;
}
.search-button{
	background: url("../images/searchicon.png") no-repeat;
    border: medium none;
    cursor: pointer;
    height: 36px;
    width: 37px;
    outline: none !important;
}
.search-button:active,
.search-button.active {
	background: url("../images/searchicon.png") no-repeat;
	outline: none !important;
	box-shadow: none;
 
}
.float-left{
	float: left;
}
.clear{
	clear: both;
}
.form-control-search{
	 height: 50px;
	 padding: 2px 15px 0;
}
.input-group-addon{
	width: 10%;
	color: #3ea8d2;
}
.page-header{
	padding-bottom: 5px;
	border-bottom: none;
	margin: 0;
}
.input-group-addon{
	cursor: pointer;
}
.input-group-addon:active{
	 -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
         box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	cursor: pointer;
}
a{
	  outline:none !important;
}
.col-centered{
    margin: 0 auto 8px;
    float: none;
}
.modal-header{
	background: #2B95BF;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	color: #fff;
}
.close{
    color: #fff;
    opacity: 0.8;
}
.close:hover,.close:active{
    color: #fff;
    opacity: 1;
}
.modal{
	overflow: auto;
}
.modal-header{
	 padding: 10px 15px 6px;
}
.modal-footer{
	padding: 10px 15px;
}
.blue-btn{
	background: #26BEED;
	border: 1px solid #41abd5;
	color: #ffffff !important;
	padding: 6px 12px;
	border-radius:4px;
}
.blue-btn:hover, .blue-btn:active{
	background: #0DBAFF;
	border: 1px solid #2B95BF;
	color: #ffffff !important;
	outline: none !important;
}

#notice_box {
    display: inline-block;
    font-size: 14px;
    padding: 7px 15px;
    position: relative;
}
#notice_bar {
    height: 1px;
    left: 0;
    overflow: visible;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100000;
}
#notice_box.notice {
    background-color: #ffcc00;
    color: #333333;
    font-weight: bold;
}
#notice_box.alert {
    background-color: #ff3300;
    color: #ffffff;
    font-weight: bold;
}
.popover-content{
	overflow: auto;
	height: 335px;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  cursor:move;
  max-width: 100%;
  width: 100%;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.right-align{
	text-align: right;
}
.margin-bottom{
	margin-bottom: 1%;
}
.suggetion{
	font-size: 34px;
	color: #3EA8D2;
	border: none;
	background: none;
}
.mCSB_dragger_bar {
    width: 15px !important;
}
.mCSB_draggerRail{
	width: 5px !important;
}
.nav > li {
    z-index: 1011;
}
@media (max-width: 400px) {
	.input-group-addon{
		font-size: 10px;
	}
}