/* @media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
} */
#nav {
  width: 100%;
  position:static;
  top:-50px;
}
#nav.affix {
	position: fixed;
	top: 0;
	z-index: 1021;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
  	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.navbar-brand {
    height: 50px;
    padding: 2px 0;
}
.navbar-nav > li > a{
	height: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.navbar-default .navbar-text {
  color: #dddddd;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #137da7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #137da7;
}
.navbar-default .navbar-toggle {
  border-color: #137da7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #137da7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #137da7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #137da7;
  color: #ffffff;
}
.navbar {
  /* background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0); */
  border-bottom: 1px solid #2f99c3;
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.navbar-default {
   background-color: #3ea8d2;
   border-color: #2f99c3;
}
.user-profile li{
	display: inline-block;
	margin-right: 15px;
}
.user-profile li a{
	color: #444;
    display: inline-block;
    font-size: 14px;
    outline:none;
}
.user-profile li a:hover,.user-profile li a:focus{
	text-decoration: none;
}
#user-name span {
    background: url("../images/user.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 5px 25px;
}
.logout span{
	background: url("../images/logout.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 1px 13px;
}
.user{
	margin-top: 25px;
	margin-right: 5%;
}
.navbar {
    border-radius: 0;
    min-height:32px;
}
.logout a:hover{
	color: #2B95BF;
}
.modal-field{
	margin-top: 5%;
}
.dropdown-menu li a{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
/* .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
} */
.in .dropdown-menu li a{
	 color: #fff;
}
/* @media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }
} */