
html{
	height:100%;
}
body {
  padding-top: 80px;
  padding-bottom: 40px;
  
  background:url("../images/bg.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
	
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  text-align: center;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"],.form-signin input[type="password"]{
	border-radius: 2em;
    box-shadow: 1px -1px 0 #888888;
    margin-top: 6%;
    padding-left: 20px;
}

.form-signin input[type="checkbox"] {
  float: none;
  margin-right: 4%;
}
.checkbox{
	color: #aaa;
}

.checkbox a{
	color: #14A8E4;
	margin-left: 3%;
}
.logo-img{
	margin: 0 auto;
}
.login-title {
    color: #a3a3a3;
    font-family: calibri;
    font-size: 20px;
    text-align: center;
}
.btn-primary{
	background: url("../images/signupbtn.png") no-repeat;
    border: none;
    margin: 0 auto;
    width: 90% !important;
    color: #fff;
    font-family: calibri;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
	background: url("../images/signupbtn_ov.png") no-repeat;
	border: none;
	color: #fff;
    font-family: calibri;
	outline: none !important;
}
.login-error{
	text-align: center;
}